<launch>
    <arg name="plugin" default="exploration_server::ExamplePlugin"/>
    <param name="plugin_name" value="$(arg plugin)"/>
    <arg name="blacklist_box_size" default="0.5"/>
    <param name="blacklist_box_size" value="$(arg blacklist_box_size)"/>

    <!-- Set to your sensor's range -->
    <arg name="sensor_range" default="1.0"/>

    <node pkg="exploration_server" type="plugin_client" name="plugin_client" output="screen">

    </node>

    <node pkg="exploration_server" type="exploration_server_node" name="exploration_server_node" output="screen">

        <rosparam param="points" ns="explore_costmap" file="$(find exploration_server)/config/points.yaml" command="load"/>
        <param name="frequency" type="double" value="2.0"/>
        <param name="goal_aliasing" type="double" value="$(arg sensor_range)"/>

        <rosparam file="$(find frontier_exploration)/configs/common_costmap_params.yaml" command="load" ns="explore_costmap"/>
        <rosparam file="$(find frontier_exploration)/configs/explore_costmap_params.yaml" command="load"/>
        
    </node>

</launch>
